name: test
on:
  workflow_call:
  push:
    branches:
      - '**'


env:
  GOPRIVATE: github.com/hashicorp/*
  TERM: xterm


permissions:
  pull-requests: write
  actions: write
  contents: read
  id-token: write


jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: go.mod

      - name: Test with the Go CLI
        run: go test ./...
